absl-py==0.12.0
alabaster==0.7.12
altgraph==0.17
antlr4-python3-runtime==4.8
appdirs==1.4.4
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
black==21.4b2
bleach==3.3.0
boto3==1.17.48
botocore==1.20.48
cached-property==1.5.2
cachetools==5.0.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.1.3
cloudpickle==2.0.0
cmocean==2.0
cvbase==0.5.5
cycler==0.10.0
decorator==5.0.6
defusedxml==0.7.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@f62b8a42e4d995966d0e7d7eb4049f023860b5ff
dill==0.3.4
docutils==0.16
-e git+git@github.com:danielbear/DorsalVentral.git@e54ca759ef877b84761b98bf4636d1cb0fc0e445#egg=dorsalventral
einops==0.4.0
entrypoints==0.3
filelock==3.4.2
flatbuffers==1.12
future==0.18.2
futures==3.1.1
fvcore==0.1.5.post20220506
gast==0.3.3
gdown==4.2.1
google-auth==2.6.5
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.0
grpcio==1.32.0
h5py==2.10.0
hurry==1.1
hurry.filesize==0.9
hydra-core==1.1.2
idna==2.10
ikpy==3.1
imageio==2.10.1
imageio-ffmpeg==0.4.5
imagesize==1.2.0
importlib-metadata==3.10.0
importlib-resources==5.2.3
iopath==0.1.9
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jax==0.3.10
jaxlib==0.3.10
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kornia==0.6.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mediapy==1.0.3
mistune==0.8.4
mpmath==1.2.1
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
notebook==6.3.0
numpy==1.21.6
oauthlib==3.2.0
omegaconf==2.1.2
opencv-python==4.5.4.58
opt-einsum==3.3.0
overrides==6.1.0
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.9.0
pexpect==4.8.0
physics==0.0.1
pickleshare==0.7.5
Pillow==8.4.0
pkg-resources==0.0.0
portalocker==2.4.0
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.16.0
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycparser==2.20
pydot==1.4.2
pydub==0.25.1
Pygments==2.8.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
regex==2022.4.24
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.8
s3==3.0.0
s3transfer==0.3.6
scikit-image==0.19.2
scikit-learn==1.0.1
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.5.0
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.3.1
Sphinx==4.0.2
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stopit==1.1.2
sympy==1.9
tabulate==0.8.9
tdw==1.8.22.0
-e git+ssh://git@github.com/neuroailab/tdw_physics.git@cced3fea5b145b0f426c1d847db695e22cd3524d#egg=tdw_physics
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.4.1
tensorflow==2.3.0
tensorflow-datasets==4.5.2
tensorflow-estimator==2.3.0
tensorflow-gpu==2.4.1
tensorflow-metadata==1.7.0
termcolor==1.1.0
terminado==0.9.4
terminaltables==3.1.10
testpath==0.4.4
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
torch==1.9.0
torch-scatter==2.0.9
torch-sparse==0.6.13
torchvision==0.10.0
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
trimesh==3.9.16
typed-ast==1.5.3
typing-extensions==3.7.4.3
typing-utils==0.1.0
urllib3==1.26.4
vvn==0.0.1
wcwidth==0.2.5
webencodings==0.5.1
weighted-collection==1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
yacs==0.1.8
zipp==3.4.1
